@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
 .flexable_container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
     width: 50%;
   
     padding-left: 5%;
}
.half-width img{
    padding-top: 100px;
    width: 80%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
 
}
.hire_button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    color: white;
   font-weight: 700;
    border-radius: 3px;
}

.Dream_big{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
 
}

/* experience part */
.expriense_area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
   margin-top: 90px;
}

.box_sadow-BABY{
    width: 40%;
    margin-left: 60px;
    margin-right: 7px;
    box-shadow: 10px 5px  rgb(143, 22, 22);

}
.box_sadow-Full{
    width: 40%;
    box-shadow:   10px 11px 10px   rgb(248, 244, 244);
}


/* box_shadow  */
.BORDER_SLICE_Full {
    margin-left: 100px;
    border-left: 10px solid;
    border-image: linear-gradient(red, black);
    border-image-slice: 1;
}

footer{
    text-align: center;
}





.BORDER_SLICE_BABY {
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan); 
     
    
    border-image-slice: 4;
}
 