@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
section{
    display: flex;
}
.half-width{
     width: 50%;
   
     padding-left: 5%;
}
.half-width img{
    padding-top: 100px;
    width: 80%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
 
}
.hire_button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    color: white;
   font-weight: 700;
    border-radius: 3px;
}

 